*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    background: #667eea;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    gap: 30px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #667eea;
    margin-bottom: 30px;
    font-weight: 400;
}

.ConvertBtn{
    border: 0;
    background: rgb(35, 146, 35);
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.195);
}
.MoneyPlace{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

}
.input{
    border-radius: 5px;
    font-size: 18px;
    border-color: rgb(235, 235, 235);
    max-width: 150px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.195);
}
.fiatList{
    border-radius: 5px;
    font-size: 14px;
    border-color: rgb(235, 235, 235);
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.195);
}